#root {
  text-align: center;
  padding-top: 25px;
}

.box {
  display: inline-block;
  background-color: aquamarine;
  margin: 10px;
  padding: 30px 30px;
  text-align: center;
  height: 35px;
  
}

h3 {
  margin: 0px;
}

.Order_details {
  display: inline-block;
  background-color: beige;
  width: 40%;
  height: 680px;
  vertical-align: top;
  margin: 7px;
  padding: 7px;
}

.Categories {
  display: inline-block;
  background-color: rgb(211, 216, 212);
  width: 60%;
  vertical-align: top;
  margin: 7px;
  padding: 7px;
}

.card {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
}

#root {
  padding-top: 0px;
}

.itemdetails-width {
  width: 20%;
}

.form-control-plaintext {
  text-align: center;
}

hr {
  background-color: rgb(82, 72, 72);
    border: 0 none;
    color: #eee;
    height: 1px;
    margin-top: 0px;
}

.orderlines-section {
  min-height: 225px;
}

.bd-highlight {
  background-color: white;
}

.invoice-details {
  margin-top: 8px;
}
.invoice-details p {
  margin-bottom: 0px;
}

.keypad {
  margin-top: 8px;
}

.table td {
  border-style: solid;
  border-color: black;
}

.table tr {
  border: none;
}

.home-link {
  cursor: pointer;
}